                <a class="item-preview" href="<%= blogOutputDir %><%= blogPost.url %>">
                    <h3 lang="en"><%= blogPost.title %></h3>
                    <p class="item-date"><%= blogPost.published.toDateString() %></p>
                    <p class="item-summary" lang="en"><%= blogPost.snippet %></p>
                </a>
